@charset "UTF-8";
div.page::-webkit-scrollbar {     
  width: 0 !important;
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(https://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#app>header div.system-bar {
  line-height:10pt;
  font-size:6pt;
  width:100%;
  font-family:'Helvetica Neue';
  font-weight:400;
  overflow:auto;
}

p span {
  font-weight: 600;
}


.left span, .right span {
font-size:1.5em;
line-height:1pt;
}

/*수정*/
#app > header {
    font-size: 12pt;
    font-family: 'Pretendard-Regular';
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 92px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.20);
    background-color: #75b64d;
    padding: 10pt;
    color: #fefefe;
    opacity: 0.9;
    overflow: hidden;
}

#app > header .left,
#app > header .right {
    display: inline-block;

    width: 20%;
    font-size: 1.5em;
    line-height: 1pt;
}

#app > header .center-text {
    display: inline-block;
    width: 70%; /* 텍스트 정렬 */
    text-align: left;
    vertical-align: middle;
    font-size: 1em; /* 텍스트 사이즈 변경 */
    line-height: 1.5; /* 줄 간격 조정 */
}
/*수정*/

#app>footer {
  text-align: center;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:24px;
  line-height:24px;
  background-color:#fff;
  padding:8pt 8pt 8pt 8pt;
  color:#222;
}

#app>div.page {
  position:absolute;
  top:82pt; /*텍스트, 내용이 보이는 페이지 margin. 스크롤 되는 내용 경계*/
  bottom:34pt;
  left:0;
  right:0;
  overflow:auto;
  padding:20pt 25pt;
  line-height:1.5;/*줄, 요소간격*/
}

#app * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#app /*내부 박스 사이즈 조정*/{
  width:585px;
  height:900px;
  background-color:#fefefe;
  position:relative;
  text-align:left;
  overflow:hidden;
  font-family:'Pretendard-Regular';
  font-size:14pt;
  line-height:1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 5px;
   color:#333; /*내부 박스 텍스트 색상*/
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body {
    padding:0px 339px 20px 632px;
    background: linear-gradient(90deg, #75b64d, #3ed4b9);
    font-family: 'Lato';
    color: #75b64d;
}

.container {
    width: 585px;
    height: 900px;
    background-color: #fefefe;
    position: relative;
    text-align: left;
    overflow: hidden;
    font-family: 'Pretendard-Regular';
    font-size: 14pt;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

    
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 30px;
    border-bottom: 1px solid #75b64d;
}

.group-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: auto; /* 왼쪽 자동 여백 */
    margin-right: auto; /* 오른쪽 자동 여백 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.container > .content {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

#container * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.image-placeholder {
    width: 95%; 
    max-width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    margin: 0 auto; /*가운데 정렬*/
    display: block;
    overflow: hidden;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.group-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.status {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
    margin-left: 20px;
}

.description {
	margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #75b64d;
}


.notice-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.notice-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.notice-content {
    font-size: 14px;
    color: #333;
}

.toggle-box {
    margin-top: 5px;
    margin-bottom: 70px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.toggle-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.toggle-title {
    font-size: 16px;
    font-weight: bold;
}

.toggle-content {
    display: none;
    margin-top: 10px;
}

.toggle-content.show {
    display: block;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.action-buttons button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-accept {
    background-color: #28a745;
    color: white;
}

.btn-reject {
    background-color: #dc3545;
    color: white;
}

.back-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #8dd95d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button svg {
    fill: #fff;
    width: 24px;
    height: 24px;
}

.settings-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #8dd95d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 34px;
    right: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.settings-button .svg-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}
.apply-button {
    display: block; /* 블록 요소로 변경하여 한 줄을 차지하도록 설정 */
    width: 100%; /* content의 너비에 맞게 설정 */
    max-width: 300px; /* 최대 너비 설정 */
    padding: 10px 20px; /* 버튼 내부의 패딩 설정 */
    margin: 90px auto; /* 위쪽 여백 추가 및 가운데 정렬 */
    background-color: #28a745; /* 배경색 설정 */
    color: white; /* 글자색 설정 */
    border: none; /* 테두리 제거 */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* 글자 크기 설정 */
    font-weight: bold; /* 글자 두껍게 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none;
}

.apply-button:hover {
    background-color: #218838; /* 마우스 오버시 배경색 변경 */
}

.back-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #8dd95d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 35px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button svg {
    fill: #fff;
    width: 30px;
    height: 30px;
}

.home-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #8dd95d;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 35px;
    left: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.home-button svg {
    fill: #fff;
    width: 30px;
    height: 30px;
}