<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring_Dahyang.chat.repository.ChatMapper">
    
    <resultMap type="Chat" id="chatResultMap">
        <result property="cid" column="CONTENT_ID" />
        <result property="clid" column="CLUB_ID" />
        <result property="uid" column="USER_ID" />
        <result property="nickname" column="NICKNAME" />
        <result property="content" column="CONTENT" />
        <result property="uimg" column="USER_IMAGES" />
        <result property="timestamp" column="TIMESTAMP" />
    </resultMap>
    
    <insert id="insert" parameterType="Chat">
        insert into dchat (CONTENT_ID, CLUB_ID, USER_ID, NICKNAME, CONTENT, USER_IMAGES, TIMESTAMP) values (dchat_seq.nextval, #{clid}, #{uid}, #{nickname}, #{content}, #{uimg, jdbcType=VARCHAR}, CURRENT_TIMESTAMP)
    </insert>
    
    <update id="update" parameterType="Chat">
        update dchat set content=#{content} where content_id=#{cid}
    </update>
    
    <delete id="delete" parameterType="int">
        delete from dchat where content_id=#{cid}
    </delete>
    
    <select id="selectAll" parameterType="int" resultMap="chatResultMap">
        select * from dchat where club_id=#{clid}
    </select>
    
    <select id="selectById" parameterType="int" resultMap="chatResultMap">
        select * from dchat where content_id=#{cid}
    </select>
    
</mapper>
