<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring_Dahyang.chat.repository.ChatMessageRepository">
    
    <resultMap type="spring_Dahyang.chat.model.ChatMessage" id="chatMessageResultMap">
        <result property="messageId" column="MESSAGE_ID" />
        <result property="chatId" column="CHAT_ID" />
        <result property="userId" column="USER_ID" />
        <result property="nickname" column="NICKNAME" />
        <result property="content" column="CONTENT" />
        <result property="timestamp" column="TIMESTAMP" />
    </resultMap>
    
    <select id="selectChatMessage" resultMap="chatMessageResultMap">
        SELECT 
            MESSAGE_ID, CHAT_ID, USER_ID, NICKNAME, CONTENT, TIMESTAMP
        FROM
            DCHAT_MESSAGE
        WHERE
            CHAT_ID = #{chatId}
        ORDER BY
            TIMESTAMP
    </select>
    
    <insert id="insertChatMessage" parameterType="spring_Dahyang.chat.model.ChatMessage" useGeneratedKeys="true" keyProperty="messageId" keyColumn="MESSAGE_ID">
        INSERT INTO DCHAT_MESSAGE (CHAT_ID, USER_ID, NICKNAME, CONTENT, TIMESTAMP)
        VALUES (#{chatId}, #{userId}, #{nickname}, #{content}, #{timestamp, jdbcType=TIMESTAMP})
    </insert>
    
    <select id="selectChatMessageByMessageId" resultMap="chatMessageResultMap">
        SELECT 
            MESSAGE_ID, CHAT_ID, USER_ID, NICKNAME, CONTENT, TIMESTAMP
        FROM
            DCHAT_MESSAGE
        WHERE
            MESSAGE_ID = #{messageId}
    </select>
    
</mapper>
