<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring_Dahyang.feed.repository.FeedMapper">
	
	<resultMap type="Feed" id="feedResultMap">
		<result property="fid" column="PHEED_ID" />
		<result property="clid" column="CLUB_ID" />
		<result property="uid" column="USER_ID" />
		<result property="writer" column="WRITER" />
		<result property="content" column="CONTENT" />
		<result property="img" column="IMAGES" />
		<result property="uimg" column="USER_IMAGES" />
	</resultMap>
	
	<!-- 피드 등록 -->
	<insert id="insert" parameterType="Feed">
		insert into dpheed values (dpheed_seq.nextval, #{clid}, #{uid}, #{writer}, #{content}, #{img, jdbcType=VARCHAR}, #{uimg, jdbcType=VARCHAR})
	</insert>
	
	<!-- 피드 수정 -->
	<update id="update" parameterType="Feed">
		update dpheed set content=#{content}, images=#{img, jdbcType=VARCHAR} where pheed_id=#{fid}
	</update>
	
	<!-- 피드 삭제 -->
	<delete id="deleteLikes" parameterType="int">
		delete from dpheed_like where pheed_id=#{fid}
	</delete>
	
	<!-- 피드 삭제 -->
	<delete id="deleteImages" parameterType="int">
		delete from dpheed_images where pheed_id=#{fid}
	</delete>
	
	<!-- 피드 삭제 -->
	<delete id="deleteComment" parameterType="int">
		delete from dpheed_comment where pheed_id=#{fid}
	</delete>
	
	<!-- 피드 삭제 -->
	<delete id="deleteFeed" parameterType="int">
		delete from dpheed where pheed_id=#{fid}
	</delete>
	
	<select id="selectAll" parameterType="int" resultMap="feedResultMap">
		select * from dpheed where club_id=#{clid} order by pheed_id desc
	</select>
	
	<select id="selectAllByLikes" parameterType="int" resultMap="feedResultMap">
	    <![CDATA[ SELECT * 
	    FROM (
	        SELECT 
	            p.PHEED_ID, 
	            p.CLUB_ID, 
	            p.USER_ID, 
	            p.WRITER, 
	            p.CONTENT, 
	            p.IMAGES, 
	            p.USER_IMAGES, 
	            COALESCE(l.like_count, 0) AS like_count
	        FROM DPHEED p
	        LEFT JOIN (
	            SELECT 
	                PHEED_ID, 
	                COUNT(*) AS like_count
	            FROM DPHEED_LIKE
	            GROUP BY PHEED_ID
	        ) l ON p.PHEED_ID = l.PHEED_ID
	        ORDER BY like_count DESC
	    )
	    WHERE ROWNUM <= 10 ]]>
	</select>
	
	<select id="selectByContent" parameterType="String" resultMap="feedResultMap">
		select * from dpheed where content=#{content}
	</select>
	
	<select id="selectAllRandom" resultMap="feedResultMap">
		<![CDATA[ select * from (select * from dpheed order by dbms_random.value) where rownum <= 10 ]]>
	</select>
	
	<!-- 피드 선택 -->
	<select id="selectById" parameterType="int" resultMap="feedResultMap">
		select * from dpheed where pheed_id=#{fid}
	</select>
	
</mapper>