<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring_Dahyang.feed.repository.ImagesMapper">
	
	<resultMap type="Images" id="imagesResultMap">
		<result property="imgid" column="IMAGE_ID" />
		<result property="clid" column="CLUB_ID" />
		<result property="fid" column="PHEED_ID" />
		<result property="img" column="IMAGES" />
	</resultMap>
	
	<!-- 피드 이미지 등록 -->
	<insert id="insert" parameterType="Images">
		insert into dpheed_images values (dpheed_images_seq.nextval, #{clid}, #{fid}, #{img, jdbcType=VARCHAR})
	</insert>
	
	<!-- 피드 이미지 수정 -->
	<update id="update" parameterType="Images">
		update dpheed_images set images=#{img, jdbcType=VARCHAR} where pheed_id=#{fid}
	</update>
	
	<!-- 피드 이미지 삭제 -->
	<delete id="delete" parameterType="int">
		delete from dpheed_images where pheed_id=#{fid}
	</delete>
	
	<select id="selectAll" parameterType="int" resultMap="imagesResultMap">
		select * from dpheed_images where pheed_id=#{fid}
	</select>
	
	
	<select id="selectImages" parameterType="int" resultType="java.lang.String">
		select images from dpheed_images where pheed_id=#{fid} order by image_id
	</select>
	
</mapper>