<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring_Dahyang.club.repository.MemberMapper">
	
	<resultMap type="Member" id="memberResultMap">
		<result property="memid" column="MEMEBER_LEVEL" />
		<result property="clid" column="CLUB_ID" />
		<result property="uid" column="USER_ID" />
	</resultMap>
	
	<!-- 모임방 멤버 등록 -->
	<insert id="insert" parameterType="Member">
		insert into dclub_members values (dclub_members_seq.nextval, #{clid}, #{uid})
	</insert>
	
	<!-- 모임방 멤버 삭제 -->
	<delete id="delete" parameterType="Member">
		delete from dclub_members where club_id=#{clid} and user_id=#{uid}
	</delete>
	
	<!-- 모임방 멤버 탈퇴 -->
	<delete id="deleteMember" parameterType="int" >
		delete from dclub_members where club_id=#{clid}
	</delete>
	
	<select id="findMember" parameterType="boolean" resultMap="memberResultMap">
		select * from dclub_members where club_id=#{clid} and user_id=#{uid}
	</select>
	
	<select id="findMembers" parameterType="int" resultMap="memberResultMap">
		select user_id from dclub_members where club_id=#{clid}
	</select>
	
	<!-- 모임방 멤버 리스트 -->
	<select id="selectAll" parameterType="int">
		select c.club_id, c.user_id, c.title, c.content, c.notice, c.images
		from dclub_members m left outer join club c on m.club_id = c.club_id
		where m.user_id=#{uid}
	</select>
	
</mapper>